* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "cindy2";
  src: url("cinderella2.otf");
}

html {
  /* Use Tangled font for body */
  font-family: "cindy2", Arial;
   /* Increase letter spacing for all text */
    letter-spacing: 1px;
}

body {
  /* Use Tangled font for body */
  font-family: "cindy2", Arial;
   /* Increase letter spacing for all text */
   letter-spacing :2px; 
}

/* Style background div element */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}


h1 {
   color:#fa69dd; 
   text-align :center; 
   margin-bottom :40px;
   margin-top: 450px; 
   font-size: 80px;
   letter-spacing :4px;
   text-shadow:  4px 4px #ffffff;
}

p {
   color:#f7c3c3 ; 
   text-align :center;
   letter-spacing :4px; 
   font-size: 40px;
   font-weight: bold;
   text-shadow:  4px 4px #0f258a;
}